<div class="main-container"><div class="text"><img class="img-element" src="assets\xperi.jpg"/></div></div>
<div style="background-color: rgb(39, 36, 36);height: 91.9vh;">
<!-- <div style="height:25vh"></div> -->
<div class="fix">
<form>
  <p>ChatGPT</p><br>
  <input class="clear" [(ngModel)]="inputText" value ="inputText" type="text" name="input-value" #textInput id="input-value" placeholder="send a message.">&nbsp;
  <button class="btn btn-secondary" type="submit" (click)="sendMessage($event)" [disabled]="!inputText" >Send</button>&nbsp;
  <button class="btn btn-secondary" (click)="clearMessage()" [disabled]="!inputText">Clear</button>
</form>
</div>
<div>
<mat-card class="card">
  <mat-card-content >
    <b class="put">{{displayText}}</b>
    <br><br>
    <div class="put" *ngIf="isLoading;else elseBlock">
    generating the response...
   </div>
  <ng-template #elseBlock>
    <b class="put"> {{message}} </b><br>
    <div class="copy">
      <button class="btn btn-dark" (click)="copyResponse()" [disabled]="!message" >{{changeCopy}}</button>
      </div>
      <br>
    <div class="copy" *ngIf="!isEditing">
      <button (click)="startEditing()" class="btn btn-dark" [disabled]="!message" > Edit</button>
    </div>
    <div *ngIf="isEditing">
      <div >
      <textarea [(ngModel)]="editedResponse"></textarea><br>
      </div>
      <button (click)="saveChanges()" class="btn btn-success">Save</button>&nbsp;
      <button (click)="cancelEditing()" class="btn btn-danger">Cancel</button>
    </div>
  </ng-template>
  </mat-card-content>
</mat-card>
</div>
</div>